body {
    font-family: 'Roboto', sans-serif;
}
.container {
    background-color: #4E4E4E;
    margin: 0 auto;
    width: 960px;
}
nav {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 18px;
    color: #FFFFFF;
}
nav h1{
    font-weight: bold;
}
.nav-links {
    justify-content: space-between;
}
.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
}
.landing-page {
    height: 574px;
    background-image: url(landing-img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.landing-shadow {  
    background: rgba(0, 0, 0, 0.15);
    width: 100vw;
    height: 574px;
    width: 960px;
}
.landing-shadow h2 {
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}